.calc{
    border-radius: 10px;
    width: 20%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 2em;
    max-inline-size: 22rem;
    overflow: hidden;
    color: hsl(202, 11%, 29%);
}

.output{
    background: hsl(255, 100%, 100%);
    font-size: 4.2rem;
    padding-block-start: 3rem;
    padding-block-end: 0.5rem;
    padding-inline-end: 1.25rem;
    text-align: end;
}

.previousNumber { 
    font-size: 20px;
    font-family: sans-serif;
}

.currentNumber { 
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.remove{
    display: flex;
    justify-content: flex-end;
}

.line{
    display: flex;
    justify-content: flex-end;
}

.operator{
    background: hsl(208, 25%, 86%);
}

.operator:active{
    background: hsl(208, 24%, 80%);
}

button{
    background: hsl(210, 25%, 95%);
    border: none;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem;
    font-size: 1.5rem;
    inline-size: 70px;
    block-size: 70px;
    margin: 0.25rem;
    border-radius: 40px;
}

.number{
    background: gray;
}

button:active,
button:focus{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
    outline: none;
}